<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>招商信诺智爱牙</title>
    <link rel="stylesheet" href="./lib/vant@2.11.2/index.css">
    <!-- <link rel="stylesheet/less" type="text/css" href="./public/less/public.less" /> -->
    <link rel="stylesheet" href="./public/css/public.css">
    <link rel="stylesheet" href="./public/css/home.css">
    <!-- <link rel="stylesheet/less" type="text/css" href="./public/less/home.less" /> -->
    <!-- <script src="./lib/less-3.11.1.min.js"></script> -->
</head>
<body>
    <div ref="vue" id="vue">
        <div class="zay_header">
            <div class="iconBack_box">
                <img class="icon_back" src="./public/imgs/28.png" alt="">
            </div>
            <p>招商信诺智爱牙</p>
        </div>
        <div class="header_bg">

            <div class="text_header">
                <div class="left">
                    <div class="text_title">我的家庭保障</div>
                    <div class="bottom">
                        <div class="text">
                            <span>1</span>
                            张保单</div>
                        <div class="btn_see">查看</div>
                    </div>
                </div>
                <div class="right">
                    <div class="text_title">设备领取情况</div>
                    <div class="bottom">
                        <div class="text">部分未领取</div>
                        <div class="btn_see">领取</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box_grade">
            <div class="title">
                您刷牙评级为
                <span class="choise_box">
                    <span v-show="!bind" class="span_choise"></span><span v-show="!bind" class="span_choise"></span>
                    <span v-show="bind" class="level_style">{{level}}</span>
                </span>
                级
                <img class="icon_geade" src="./public/imgs/64.png" width="36" height="36"  alt="">
            </div>
            <div class="choise_box">
                <div class="choise_item">
                    <div class="theChoise">A (85-100分)：8折</div>
                    <div  class="theChoise right">B (70-84分)：85折</div>
                </div>
                <div class="choise_item">
                    <div class="theChoise">C (70分以下)：9折</div>
                    <div   class="theChoise right">D (60分以下)：95折</div>
                </div>
            </div>
        </div>
        <div class="center_box">
            <div class="header_titie">
                <div class="left"><i :class="bind?'icon_circle active':'icon_circle'"></i>设备{{bind?"已":"未"}}连接
                    <van-icon v-show="bind" color="#C2C2C2" size="20px"  name="arrow"></i>
                </div>
                    <van-popover
                    v-model="showPopover"
                    theme="dark"
                    trigger="click"
                    :actions="actions"
                    @select="select"
                    >
                    <template #reference>
                    <div v-show="bind" @click="bindTooth" ref="iconTooth"  class="right"><i  class="icon_switch"></i>切换设备</div>
                    </template>
                    </van-popover>
                    <div v-show="!bind" @click="bindTooth" ref="iconTooth"  class="right"><i  class="icon_bind"></i>绑定设备</div>
            </div>
            <div class="center_tip">
                <div class="left">右边</div>
                <div class="right">左边</div>
            </div>
    
            
            <img @click="clickTooth" class="tooth_item child_tooth1" width="63" height="57" src="./public/imgs/childrenWhite/10.png" alt="">
            <img @click="clickTooth" class="tooth_item child_tooth2" width="75" height="57" src="./public/imgs/childrenWhite/8.png" alt="">
            <img @click="clickTooth" class="tooth_item child_tooth3" width="77" height="70" src="./public/imgs/childrenWhite/6.png" alt="">
            <img @click="clickTooth" class="tooth_item child_tooth4" width="68" height="65" src="./public/imgs/childrenWhite/4.png" alt="">
            <img @click="clickTooth" class="tooth_item child_tooth5" width="61" height="69" src="./public/imgs/childrenWhite/2.png" alt="">
            <img @click="clickTooth" class="tooth_item child_tooth10" width="63" height="57" src="./public/imgs/childrenWhite/20.png" alt="">
            <img @click="clickTooth" class="tooth_item child_tooth9" width="76" height="57" src="./public/imgs/childrenWhite/18.png" alt="">
            <img @click="clickTooth" class="tooth_item child_tooth8" width="77" height="70" src="./public/imgs/childrenWhite/16.png" alt="">
            <img @click="clickTooth" class="tooth_item child_tooth7" width="69" height="60" src="./public/imgs/childrenWhite/14.png" alt="">
            <img @click="clickTooth" class="tooth_item child_tooth6" width="62" height="69" src="./public/imgs/childrenWhite/12.png" alt="">
            
            <img @click="clickTooth" class="tooth_item child_tooth11" width="64" height="100" src="./public/imgs/childrenWhite/9.png" alt="">
            <img @click="clickTooth" class="tooth_item child_tooth12" width="57" height="84" src="./public/imgs/childrenWhite/7.png" alt="">
            <img @click="clickTooth" class="tooth_item child_tooth13" width="51" height="83" src="./public/imgs/childrenWhite/5.png" alt="">
            <img @click="clickTooth" class="tooth_item child_tooth14" width="49" height="69" src="./public/imgs/childrenWhite/3.png" alt="">
            <img @click="clickTooth" class="tooth_item child_tooth15" width="41" height="67" src="./public/imgs/childrenWhite/1.png" alt="">
            <img @click="clickTooth" class="tooth_item child_tooth20" width="64" height="100" src="./public/imgs/childrenWhite/19.png" alt="">
            <img @click="clickTooth" class="tooth_item child_tooth19" width="58" height="84" src="./public/imgs/childrenWhite/17.png" alt="">
            <img @click="clickTooth" class="tooth_item child_tooth18" width="50" height="83" src="./public/imgs/childrenWhite/15.png" alt="">
            <img @click="clickTooth" class="tooth_item child_tooth17" width="49" height="69" src="./public/imgs/childrenWhite/13.png" alt="">
            <img @click="clickTooth" class="tooth_item child_tooth16" width="42" height="67" src="./public/imgs/childrenWhite/11.png" alt="">
            <div v-show="toothType==1&&!srTooth" class="toothTime">
                <div  class="useTime">
                    本次刷牙时间 <span class="huTime">{{huTime}}</span>秒
                </div>
                <div class="minTime">可能有牙菌斑 刷牙时间不能 <span class="warnTime">小于20s</span></div>
            </div>
            <div v-show="toothType==2" class="angle_tooth">
                <div class="title">黄色区域</div>
                <div class="angle_warn">
                    刷毛和牙齿<span class="angle">未成 45°角，</span>这是牙菌斑 
                    大量堆积、 <br/>
                    最脏的区域
                </div>
            </div>
            <div v-show="toothType==3" class="angle_tooth" >
                <div class="title">黄色区域</div>
                <div class="angle_warn" style="width: 235px;">
                    
                    水平运动幅度超过了
                    <span class="angle">
                        3颗牙的宽度，
                    </span>
                    <br/>
                    长期易在牙齿的根部
                    磨出一排凹槽
                                                
                </div>
            </div>
            <div class="toothShadow"></div>
            <div class="tooth_time">
                <span @click="show=true">
                    <i class="icom_reTime"></i>
                    {{date}}
                    <i class="icon_addTime"></i>
                 </span>
            </div>
                <van-calendar v-model="show" :show-confirm="false" @confirm="onConfirm">
                    </van-calendar>
                    <div  v-show="bind"  class="brachTimeBox">
                        <div class="brashTimes">
                            <div class="brashTime select">00:30</div>
                            <div class="brashTime">08:30</div>
                            <div class="brashTime">12:30</div>
                            <div class="brashTime">20:30</div>
                            <div class="brashTime">24:30</div>
                           
                        </div>
                    </div>
                <div class="btn_tabs">

                    <div class="btn_item" @click="changeToothType(1)">
                            <img v-show="toothType==1" src="./public/imgs/white/39.png" width="80" height="100" alt="">
                            <img v-show="toothType!=1"  src="./public/imgs/50.png" width="80" height="100" alt="">
                        <div :class="toothType==1?'text active':'text'">刷牙
                          <br/>  时长</div>
                    </div>
                    <div  @click="changeToothType(2)" class="btn_item ml60">
                            <img v-show="toothType==2" src="./public/imgs/40.png" width="80" height="100" alt="">
                            <img v-show="toothType!=2" src="./public/imgs/white/43.png" width="80" height="100" alt="">
                        <div :class="toothType==2?'text active':'text'">刷牙
                            <br/>角度</div>
                    </div>
                    <div  @click="changeToothType(3)" class="btn_item ml60">
                            <img v-show="toothType==3" src="./public/imgs/41.png" width="80" height="100" alt="">
                            <img  v-show="toothType!=3" src="./public/imgs/white/41.png" width="80" height="100" alt="">
                        <div :class="toothType==3?'text active':'text'">刷牙
                            <br/>幅度</div>
                    </div>
                </div>
                <div v-show="bind" class="brashScore">本次刷牙<span class="score">80</span>分</div>
              
                <div v-show="srTooth" class="toothOne">
                    <div class="text">牙冠：4秒</div>
                    <div class="text">外侧：4秒</div>
                    <div class="text">内侧：5秒</div>
                </div>
                <div v-show="toothType==0" class="text_brushTeeth">
                    
                   <p>
                       您今天
                   </p>
                   <P>
                       还没有刷牙哦！
                   </P>
                                                
                </div>
                <p class="guide_href">
                    <span>
                        刷牙指导
                    </span>
                </p>
            </div>
            <div style="width: 100%;height:132px;"></div>
            <van-tabbar @change="goPage" v-model="active"  active-color="#051123" inactive-color="#999999">
                <van-tabbar-item badge="">
                    <span>首页</span>
                    <template #icon="props">
                      <img :src="props.active ? icon[0].active : icon[0].inactive" />
                    </template>
                </van-tabbar-item>
                <van-tabbar-item badge="">
                    <span>就医</span>
                    <template #icon="props">
                      <img :src="props.active ? icon[1].active : icon[1].inactive" />
                    </template>
                </van-tabbar-item>
                <van-tabbar-item badge="">
                    <span>我的</span>
                    <template #icon="props">
                      <img :src="props.active ? icon[2].active : icon[2].inactive" />
                    </template>
                </van-tabbar-item>
            
              </van-tabbar>
        </div>
</body>
<script src="./public/js/public.js"></script>
<script src="./lib/vue/vue.min.js"></script>
<script src="./lib/vant@2.11.2/vant.min.js"></script>
<script>
    new Vue({
        el: '#vue',
        data() {
            return {
                idNum:'',
                phone:"",
                vCode:"",
                show: false,
                date:"  2020-12-14",
                minDate: new Date(2010, 0, 1),
                maxDate: new Date(2010, 0, 31),
                active:0,
                bind:false,
                srTooth:false,
                toothType:0,
                level:"D",
                huTime:190,
                icon: [
                    {  
                    active: './public/imgs/white/45.png',
                    inactive: './public/imgs/105.png',
                    },
                    {  
                    active: './public/imgs/35.png',
                    inactive: './public/imgs/white/36.png',
                    },
                    {  
                    active: './public/imgs/white/46.png',
                    inactive: './public/imgs/white/37.png',
                    },
                ],
                showPopover: false,
                actions: [{ text: '王礼',icon:'./public/imgs/99.png' }, { text: '何雯娜',icon:"" }, { text: '绑定新设备',icon:"" }],
            }
        },
        mounted() {},
        methods: {
            clickTooth(event){
                this.toothType=1
                this.srTooth=true
                let src=[10,8,6,4,2,20,18,16,14,12,9,7,5,3,1,19,17,15,13,11]
                let tooths=document.getElementsByClassName("tooth_item");
                for(var i =0;i<tooths.length;i++){
                tooths[i].src=`./public/imgs/childrenWhite/${src[i]}.png`
                tooths[i].style.zIndex=i
                }
                let path=event.target.src.replace(/childrenWhite/g,'childrenRed');
                event.target.src=path
                // event.target.style.zIndex='9009'
            },
            select(value){
                this.actions.forEach((item,index)=>{
                    item.icon=""
                    if(item.text==value.text){
                        item.icon='./public/imgs/99.png'
                    }
                })
            },
            goPage(value){console.log(value);
                if(value==1){
                    window.location.href="./jyyy.html"
                }
            },
            formatDate(dateData) {
            var date = new Date(dateData)
            var y = date.getFullYear()
            var m = date.getMonth() + 1
            m = m < 10 ? ('0' + m) : m
            var d = date.getDate()
            d = d < 10 ? ('0' + d) : d
            const time = y + '-' + m + '-' + d
            return time
    },
            onConfirm(date) {

                this.show = false;
                this.date = this.formatDate(date);
            },
            bindTooth(){
                this.bind=true
                let dom = document.getElementsByClassName("center_box")
                let btns = document.getElementsByClassName("btn_tabs")
                
                console.log(dom);
                dom[0].style.height="1010px"
                btns[0].style.marginTop="39px"
            },
            changeToothType(type){
                this.srTooth=false
                this.toothType=type
                let src=[10,8,6,4,2,20,18,16,14,12,9,7,5,3,1,19,17,15,13,11]
                let tooths=document.getElementsByClassName("tooth_item");
                for(var i =0;i<tooths.length;i++){
                        tooths[i].src=`./public/imgs/childrenWhite/${src[i]}.png`
            }
                if(type==2||type==3){
                    for(var i =5;i<9;i++){
                            tooths[i].src=`./public/imgs/childrenYellow/${src[i]}.png`
                }
            }else{
                    for(var i =0;i<tooths.length;i++){
                            tooths[i].src=`./public/imgs/childrenWhite/${src[i]}.png`
                } 
            }
            }
            
        },
        beforeCreate(){
            let vueDom =document.getElementById("vue")
           console.log(vueDom.style.display="block");
        },
        created(){
      
        }
    });
</script>
</html>